* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    div {
        border: 0px solid;
    }
}

.main {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: none;
}

.top {
    height: 50px;
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0 14px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .253);
}

.t-l {
    flex: 3;
    display: flex;
    flex-direction: column;
    border: none;
    align-items: start;
    justify-content: left;
}

.tl-t {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    font-size: 18px;
}

.tl-b {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
}

.t-r {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    border: none;
}

.p1 {
    height: 25px;
    width: 25px;
}

.middle {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .253);
}

.m-1 {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

.m-1 button {
    height: 35px;
    width: 100px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #475569;
    background: #f1f5f9;
}

.m-2 {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

.m-2 button {
    height: 35px;
    width: 100px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #475569;
    background: #f1f5f9;
}

.m-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: none;

}

.m-3 button {
    height: 35px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: #dc2626;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.bottom {
    flex: 6;
    display: flex;
    flex-direction: column;
    border: none;
    gap: 10px;
    background-color: #f2f6fa;
}

.b-t {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
     padding: 9px;
    margin-bottom: -20px;


}

.bt-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
    align-items: start;
     font-size: 18px;
    font-weight: 600;



}

.bt-2 {
    display: flex;
    flex-direction: column;
    border: none;

}

.bt22 {
    height: 5px;
    margin: 10px;
    width: 80px;
    border-radius: 10px;
    background: linear-gradient(to right, red, yellow);

}

.sp {

    background: linear-gradient(to right, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.b-b {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 15px;
    padding: 12px;
    box-shadow: 0 20px 12px rgba(0, 0, 0, .20);
    min-width: none;
}

.bb-l {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
}

.bbl-t {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.bblt-t {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;

}

.bbltt-1 {
    margin: 15px;
}

.p2 {
    border-radius: 10px;

}

.bblt-b {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
     padding: 10px;
    gap: 10px;
}

.bbltb-1 {
    flex: 1;
    display: flex;
    border: none;
    font-size: 15px;
    font-weight: 600;
}

.bbltb-2 {
    flex: 1;
    display: flex;
    border: none;
    gap: 10px;
    margin-bottom: 14px;
}

.b2-1 {
    flex: 1;
    border: none;
}

.b2-1 button {
    height: 30px;
    width: 60px;
    border-radius: 10px;
     background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    border: none;
    font-size: 11px;
    font-weight: 600;
}

.b2-2 {
    flex: 2;
    border: none;
}

.b2-2 button {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    border: none;
    font-size: 11px;
    font-weight: 600;
}

.bbltb-3 {
    flex: 1;
    display: flex;
    border: none;
    font-size: 13px;
    color: #cbd5f5;
}

.bbltb-4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #0f172a;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    border-left: 4px solid #ef4444;
    gap: 4px;
}

.bbl-44 {
    color: #fca5a5;
    font-weight: bold;
    font-size: o.9rem;
}

.bbl-5 {
    color: #fca5a5;

}

.bb-r {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
}

.bbr-t {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.bbrt-t {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;

}

.bbrtt-1 {
    margin: 15px;
}

.q2 {
    border-radius: 10px;


}

.bbrt-b {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
      padding: 10px;
    gap: 10px;
}

.bbrtb-1 {
    flex: 1;
    display: flex;
    border: none;
     font-size: 15px;
    font-weight: 600;
}

.bbrtb-2 {
    flex: 1;
    display: flex;
    border: none;
    gap: 10px;
    margin-bottom: 14px;
}

.bp2-1 {
    flex: 1;
    border: none;
}

.bp2-1 button {
    height: 30px;
    width: 60px;
    border-radius: 10px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    border: none;
    font-size: 11px;
    font-weight: 600;
}

.bp2-2 {
    flex: 2;
    border: none;
}

.bp2-2 button {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    border: none;
    font-size: 11px;
    font-weight: 600;
}

.bbrtb-3 {
    flex: 1;
    display: flex;
    border: none;
    font-size: 13px;
    color: #cbd5f5;
}


img {
    height: 160px;
    width: 100%;
    object-fit: cover;
}